<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CPLikeDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7FE3908B1C8878DE0093E8EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FE390A41C8878DE0093E8EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FE390AF1C8878DE0093E8EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
